<div class="eqLogic eqLogic-widget" style="height:#height#; width:#width#; overflow:auto; text-align:left!important; background-color:#background-color#; color:#color#; #style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#">
  <span class="statusCmd"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
  </span>
  <center class="widget-name" style="#hideEqLogicName#">#name_display#</center>

  <div style="padding:2px 0 0 3px; margin:0;">
    <p class="state" style="font-size:12px!important; line-height:12px!important; ">#jeelogData#</p>
  </div>

  <script type="text/javascript">
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'});
    });
  </script>
</div>
